td
  span.bold #{label} 
  small ( #{location} )
td.text-center #{remote}
td.text-center #{monitorCpu}
td.text-center #{monitorMemory}
td.text-center #{monitorBandwidth}
  small
    span.glyphicon.glyphicon-arrow-up.server-bandwidth-upload(style='padding-left:5px;color:#F0AD4E;display:none')
    span.glyphicon.glyphicon-arrow-down.server-bandwidth-download(style='padding-left:5px;color:#5bc0de;display:none')
td.text-center #{drives}
td
  .btn-group.btn-group-xs(role='group')
    button(type='button', title='Edit Server', data-placement='left').btn.btn-default.btn-tooltip.btn-edit-server
      span(aria-hidden='true').glyphicon.glyphicon-cog
     button(type='button', title='Delete Server', data-placement='right').btn.btn-default.btn-tooltip.btn-delete-server
      span(aria-hidden='true').glyphicon.glyphicon-trash
