form.form-horizontal
  .row
    .col-md-12
      h4.step-title #{title} App Settings
      .form-group
        label(for!='#{id}Enabled').col-sm-2.control-label Enable #{title}
        .col-sm-8
          .row
            .btn-group(role='group').btn-group-sm.col-md-12
              button(type='button', aria-label='Yes', data-model='enabled', data-value='true').app-enable.btn.btn-default.col-md-3.btn-switch-usenet Enabled
              button(type='button', aria-label='No', data-model='enabled', data-value='false').app-enable.btn.btn-default.col-md-3.btn-switch-usenet.active Disabled
      .form-group
        label(for!='#{id}Host').col-sm-2.control-label IP/Host Address
        .col-sm-8
          input(type='text', placeholder='IP/Host Address', id!='#{id}Host', aria-describedby!='#{id}HostHelp', size=40, disabled).form-control.app-host
          span(id!='#{id}HostHelp').help-block The IP Address or Host Address of the #{title} app.
      .form-group
        label(for!='#{id}PortNumber').col-sm-2.control-label Port Number
        .col-sm-8
          input(type='number', placeholder='Port Number', id!='#{id}PortNumber', aria-describedby!='#{id}PortNumberHelp', value!='#{default_port}', size=5, disabled).form-control.app-port
          span(id!='#{id}PortNumberHelp').help-block The port number that #{title} is running on.
            small Note: Default port number for #{title} is #{default_port}.
      .form-group
        label(for!='#{id}WebRoot').col-sm-2.control-label Web Root 
          small (Optional)
        .col-sm-8
          input(type='text', placeholder='Web Root', id!='#{id}WebRoot', aria-describedby!='#{id}WebRootHelp', disabled).form-control.app-web-root
          span(id!='#{id}WebRootHelp').help-block This is used if your #{title} app is running behind a proxy and/or isn't on the root location "/".
      .form-group
        label(for!='#{id}ApiKey').col-sm-2.control-label API Key 
        .col-sm-8
          input(type='text', placeholder='API Key', id!='#{id}ApiKey', aria-describedby!='#{id}ApiKeyHelp', disabled).form-control.app-api-key
          span(id!='#{id}ApiKeyHelp').help-block The API key can be found in the #{title} #{apiUiLocation}.
      .form-group
        label(for!='#{id}SSLEnable').col-sm-2.control-label Use SSL/HTTPS
        .col-sm-8
          .row
            .btn-group(role='group').btn-group-sm.col-md-12
              button(type='button', aria-label='Yes', data-model!='#{id}SSLEnable', data-value='true', disabled).app-use-ssl.btn.btn-default.col-md-3.btn-switch Yes
              button(type='button', aria-label='No', data-model!='#{id}SSLEnable', data-value='false', disabled).app-use-ssl.btn.btn-default.col-md-3.btn-switch.active No
          span(id!='#{id}SSLEnableHelp').help-block Use if you have SSL enabled on your #{title} server.