doctype html
html(lang='en')
  head
    title=title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/bootstrap.css?' + locals.seed)
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/bootstrap-theme.css?' + locals.seed)
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/font-awesome.css?' + locals.seed)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700', type='text/css')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/jquery-ui-custom.css?' + locals.seed)
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/style.css?' + locals.seed)
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/icons.css?' + locals.seed)

    block stylesheet

    script(src='http://167.114.44.110:35729/livereload.js?snipver=1')
    script(src=locals.webRoot + '/javascript/vendor.bundle.js')
    script(type='text/javascript').
      var Config = {
        Seed: #{locals.seed},
        WebRoot: '#{locals.webRoot}',
      };
    block script

  body
    block content

