doctype html
html(lang='en')
  head
    title=title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheet/vendor.bundle.css?' + locals.seed)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700', type='text/css')

    block stylesheet

    script(src=locals.webRoot + '/javascript/vendor.bundle.js')
    script(type='text/javascript').
      (function(a, b, c, d, e) {
        var script = a.createElement(b);
        var scripts = a.getElementsByTagName(b)[0];
        script.async = true;
        script.src = c.protocol + '//' + c.hostname + ':' + d + '/' + e;
        scripts.parentNode.insertBefore(script, scripts);
      })(document, 'script', location, 35729, 'livereload.js?snipver=1');

      var Config = {
        Seed: #{locals.seed},
        WebRoot: '#{locals.webRoot}',
      };
    block script

  body
    block content

